<%- include('../partials/header'); %>
<div class = "container">
<div class='row'>
    <div class="col-8">
        <p class = "welcome">Welcome to Happy Baby! </p>

<p>
Finding it hard to narrow down what baby stuff to get without going overboard? Our baby checklist breaks down the essentials and the 
nice-to-haves!
As pregnant mamas one and all, we’re sure you’ve received plenty of advice (perhaps mostly unsolicited) over the course of your 
pregnancy. So please feel free to take this with a grain of salt, but the absolute best piece of wisdom we received 
during our pregnancy was this: “All your newborn baby really needs is love. If you can feed her, clothe her, cuddle her and 
give her a place to sleep, she’ll be happy.” (Along similar lines, perhaps you’ve heard that in Finland everyone gets by with little 
more than a <a href="https://www.finnishbabybox.com/en/products/finnish-baby-box/" target= "_blank">cardboard box</a>).
</p>
<p>
Of course your baby still does need to be clothed, and diapered, and safely transported in a car, so we’ve created a super handy
<strong>Baby Checklist</strong> of essentials for Sassy Parents. 
We’ve divided each category into must-haves and nice-to-haves, because space and financial constraints differ for everyone. 
Many of the things you might buy for baby beforehand (like bibs or a sippy cup) won’t come in handy for months; here we’re purely 
focused on newborn essentials that will get you through those first few bleary months. 
See the checklist below, followed by more expanded explanations and guidelines. Happy shopping!
</p>
<a class="btn center btn-outline-success my-2 my-sm-0" href="/products">Enter Website</a>

</div>
<div class="col-4">
<img src = "https://cdn.pixabay.com/photo/2016/10/24/04/19/summer-1765351_960_720.jpg">
</div>
</div>
</div>

<%- include('../partials/footer'); %>

